@model WebBanMayTinh.Models.ViewModel.ProductDetailsSearchVM


<style>

    .table > :not(caption) > * > * {
        padding: 0.7rem 1.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
</style>

@if (Model.Products != null && Model.Products.Any())
{

    <div class="container_fluid">

        <table class="table">
            <tr>
                <th class="col-3">
                    Tên Sản Phẩm
                </th>



                <th class="col-1">
                    Tình Trạng
                </th>


                <th class="col-1">
                    Giá Cả
                </th>


                <th class="col-3" style="text-align: center;">
                    Hình ảnh Sản Phẩm
                </th>



                <th class="col-2">
                    Danh Mục Sản Phẩm
                </th>



                <th class="col-4">
                    Chức Năng
                </th>
            </tr>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.ProductStatus)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>


                    <td>
                        @*@Html.DisplayFor(modelItem => item.ProductImage)  <img  />*@
                        <img src="@item.ProductImage" alt="@item.ProductName" style="width:300px; height=300px" />
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>



                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID })
                    </td>
                </tr>
            }
        </table>
    </div>
}

else
{
    <div class="Error_Message">
        Không tìm thấy sản phẩm
    </div>
}
