@model WebBanMayTinh.Models.ViewModel.LoginVM

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/LoginAD.css" />
</head>
<body>
   <div>
       <h1 class="title">
           Chào mừng bạn trở lại
       </h1>
       <p> Nhập tài khoản và mật khẩu để đăng nhập</p>
   </div>
   <div>
       @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "login-form" }))
       {
           @Html.AntiForgeryToken()
           <div class="form-group">
               @Html.EditorFor(m => m.Email, new { @class = "form-control", @placeholder = "Vui lòng nhập email" })
               @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
           </div>
           <div class="form-group">
               @Html.EditorFor(m => m.Password, new { @class = "form-control", @placeholder = "Vui lòng nhập mật khẩu" })
               @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
           </div>
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           <div class="form-group">
               <button tybe="submit" name="submit" value="Login" class="login-button">Đăng nhập</button>
           </div>
       }
   </div>
</body>
</html>
